<script>
$(document).ready(function() {
  $('#competition_id').on('change', function() {
    var id = $(this).val();
    var url = '/groups.json?comp_id=' + id;

    $.get(url, function(data) {
      var select = $('#item-select');
      select.find('option').remove();

      $.each(data, function(index, item) {
        select.append('<option value="' + item.id + '">' + item.group_name + '</option>');
      });
    });
  });
});
</script>

<body>
<div class="col">
        <%= select_tag :competition_id,  options_for_select(Competition.all.map { |comp| [comp.competition_name, comp.id] } + [["Competitie Noua", nil]], selected: 2) %>
    </div>
<select id="item-select"></select>

</body>
